@import "carusal.css";
@import "recomended_movie_section.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-logo:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.App-header {
  background-color: #000000;
  height: 150px;
  /* padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movie-title {
  padding: 8px 0px 0px 25px;
}

.movie-cover-conatiner {
  text-align: center;
  /*border: 2px solid red;*/
}

.movie-cover {
  margin: 35px 0px 35px 0px;
  border: 5px solid white;
  border-radius: 4px;
  height: 288px;
  width: 195px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.movie-cover:hover{
  box-shadow: 0 56px 112px rgba(0,0,0,0.25), 0 40px 40px rgba(0,0,0,0.22);
  height: 298px;
  width: 205px;
}

.dark-bg {
  background: #303030;
  color: white;
  height: 390px;
  /* box-shadow: 0px 35px 20px #777; */
}

.light-bg {
  background:white;
  color: black;
  /* height: 400px; */
}

.main-container {
  width: 1100px;

  height: 850px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  float: left;
  margin-left: 5%;
}

.App-header {
  background-color: #222;
  height: 65px;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Header-text {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
  padding-top: 10px;
  font-size: 38px !important;
  font-weight:555;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 1px 2px rgba(248, 248, 248, 0.58), 0 2px 2px rgba(248, 248, 248, 0.23);
}

.Header-text:hover {
  
}

.Search-container {
  position: relative;
}

.quick-search-input {
  width: 250px;
  height: 35px;
  font-size: 0.85em;
  font-weight: 700;
  color: #919191;
  border: 2px solid #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 4px 30px;
  background: #1d1d1d url(https://yts.am/assets/images/website/icon-search.svg)
    no-repeat 9px 8px;
  margin-top: 17px;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.quick-search-input:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.logout-btn {
  width: 100px;
  height: 35px;
  font-size: 0.85em;
  font-weight: 700;
  color: #919191;
  border: 2px solid #333;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 4px 30px;
  background: #1d1d1d;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 17px;
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logout-btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* properties to make border green color while input is focoused */
input:focus,
textarea:focus,
button:focus,
select:focus {
  border: 1px solid green !important;
  box-shadow: 0 1px 4px green !important;
  -moz-box-shadow: 0 1 4px green !important;
  -webkit-box-shadow: 0 1 4px green !important;
  outline-offset: 0px !important;
  outline: none !important;
}

#demo {
  height: 390px !important;
  width: 100%;
  margin: auto;
}
