

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.movie-title {
  padding: 8px 0px 0px 25px;
}

.movie-title {
  padding: 8px 0px 0px 25px;
}

.App {
  text-align: center;
}





.App-intro {
  font-size: large;
}


/* properties to make border green color while input is focoused */
input:focus,
textarea:focus,
button:focus,
select:focus {
  border: 1px solid green !important;
  box-shadow: 0 1px 4px green !important;
  -moz-box-shadow: 0 1 4px green !important;
  -webkit-box-shadow: 0 1 4px green !important;
  outline-offset: 0px !important;
  outline: none !important;
}

#demo {
  height: 390px !important;
  width: 100%;
  margin: auto;
}


.row-first
{
  margin-left:20%;
  margin-right:20%;
  margin-top:2%;
  display:grid;
  grid-template-columns: 3fr 7fr;
}
.iframe
{
  margin-left:20%;
  margin-right:20%;
  margin-top:5%;
}
.desc-img
{
  height:288px;
  width:195px;
  border:5px solid whitesmoke;
}
.column-2
{
  margin-left :3%;
}
.movie-grid
{

  margin-left:20%;
  margin-right:20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  ;
  grid-row-gap: 2px;
  grid-column-gap: 2%;
  
}
.search-bar
{
  margin-left:20%;
  margin-right:20%;
  display:grid;
  grid-template-columns: 8fr 2fr;
  padding:5%;
}
