@media screen and (max-width: 786px) {
  .main-container {
    width: 96vw;
    height: fit-content;
  }

  .dark-bg {
    height: 24.375rem;
    width: 100%;
  }

  .hide {
    display: none;
  }

  .light-bg {
    width: inherit;
    padding-right: 10px;
    padding-left: 10px;
    height: fit-content;
  }

  .text-container {
    height: 6vh;
    margin-top: 0.5vh;
    margin-bottom: 0vh;
  }

  .recomended-text {
    text-align: center;
    margin-left: 4vw;
    font-size: 1.8rem !important;
  }

  .size {
    height: fit-content;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2vh;
  }
}