.hide{
  display: block;
}

.dark-bg {
  background: #303030;
  color: white;
  height: 24.375rem;
  width: 100%;
  padding: 0px;
}

.main-container {
  width: 60.625rem;
  height: 53.125rem;
  margin: auto;
  box-shadow: 0 10x 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.light-bg {
  background: white;
  color: black;
}

.recomended-text {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: .625rem;
  padding-top: 0px;
  font-size: 1.75rem !important;
  font-weight: 555;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 0 1px 2px rgba(248, 248, 248, 0.58),
    0 2px 2px rgba(248, 248, 248, 0.23);
}

.size {
  height: 25rem;
  margin-top: 0px;
}

.text-container {
  height: 1.875rem;
  margin-top: .625rem;
  margin-bottom: .1875rem;
}
