.row-first {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.desc-img-top-margin {
  margin-top: 20px;
}

.column-1 {
  float: left;
}

.iframe {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  /* border: 20px solid gray;
  border-radius: 10px; */
  padding: 0px;
  
}

.desc-img {
  height: 288px;
  width: 195px;
  border: 5px solid whitesmoke;
}

.column-2 {
  margin-left: 3%;
}

.movie-grid {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2px;
  grid-column-gap: 2%;
}

.search-bar {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  padding: 5%;
}

.main-description-container {
  width: 970px;
  /* height: 1000px; */
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.description-img{
  height: 300px;
}