input:focus,
textarea:focus,
button:focus,
select:focus {
  border: 1px solid green !important;
  box-shadow: 0 1px 4px green !important;
  -moz-box-shadow: 0 1 4px green !important;
  -webkit-box-shadow: 0 1 4px green !important;
  outline-offset: 0px !important;
  outline: none !important;
}

#demo {
  height: 390px !important;
  width: 100%;
  margin: auto;
}