/*@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");*/

.movie-shelf-container {
  margin-top: 0px;
  height: fit-content;
  min-height: 100vh;
}
@media screen and (max-width: 932px) {
  .movie-shelf-container {
    margin-top: 0px;
    height: fit-content;
    width: 88vw;
  }

  .row {
    display: block;
    margin: auto;
    height: 140vh;
    width: 88vw;
  }

}

@media screen and (max-width: 600px) {
  .movie-shelf-container {
    margin-top: 0px;
    height: fit-content;
    width: 91vw;
  }

  .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
  }
}
