@media screen and (max-width: 500px) {
  .poster-size {
    height: 32rem;
    width: 19rem;
    margin: .5rem 0rem .5rem 0rem;
  }

  .movie-cover-conatiner {
    height: 30rem;
    width: 19rem;
  }

  .movie-cover {
    height: 24rem;
    width: 18rem;
    display: block;
  }

  .movie-cover:hover {
  }

  .middle {
    opacity: 1;
    position: absolute;
    top: unset;
    left: 27% ;
    transform: unset;
    margin-top: 3%;
    color: black;
    display: flex;
    flex-flow: column;
  }

  .movie-cover-conatiner:hover .middle {
  }

  .text {
  }

  .star-position {
    opacity: 1;
    position: absolute;
    top:unset;
    right: 0;
    transform: unset;
    float: unset;
    font-weight: bolder;
    font-size: 25px;
    display: inline;
    margin-top: 3%;
    color: black;
    display: block;
  }

  .movie-cover-conatiner:hover .star-position {
  }

  .border-div {
    margin: 0rem 0rem 0rem 0rem;
    height: 31rem;
    width: 19rem;
    text-align: center !important;
  }

  .border-div:hover {
  }
}
