@media screen and (max-width: 800px) {
  a {
    color: black;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .main-register-container {
    background-image: linear-gradient(to right, #000 0%, transparent 58%),
      url("https://monstersofgeek.files.wordpress.com/2015/04/superhero-collage.jpg");
    background-position: right top;
  }
}
