@media screen and (max-width: 500px) {
  a {
    color: black;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .main-register-container {
    background-image: linear-gradient(to right, #000 0%, transparent 58%),
      url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/Mag1-june1._CB1527843954_SY1200_FMJPG_.jpg");
    background-position: right top;
  }
}
