.input-text-margin {
  height: 45px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-control {
  background-color: #262626 !important;
}

.input-group-addon-register {
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 125%;
  font-weight: 600;
  color: #000;
}

.main-register-container {
  background-image: linear-gradient(to right, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/Mag1-june1._CB1527843954_SY1200_FMJPG_.jpg");
  background-position: right top;
  height: 1100px;
  width: 100%;
}

.register-helper-container {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-rows: 3% 97%;
  grid-template-columns: 5% 95%;
}

.back-to-sign-in {
  font-size: 13px !important;

}

.signin-icon{
    margin-left: 10px;
}