@media screen and (max-width: 932px) {
  .main-container-for-search-page {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    box-shadow: unset;
  }
}


@media screen and (max-width: 600px) {
  .main-container-for-search-page {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    box-shadow: unset;
  }
}
